.details {
  background-color: #FBF7EF;
  border-radius: 0.5rem;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.details-poster {
  height: 600px;
  width: calc(100% + 2rem);
  padding: -1rem;
  margin: 3rem -1rem -1rem -1rem;
}

.poster {
  border-radius: 0.5rem;
  height: inherit;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.details-poster:after {
  content: '';
  background: linear-gradient(to top, transparent 80%, #FBF7EF 100%);
  height: inherit;
  position: absolute;
  left: 0;
  width: 100%;
}

.details-gradient {
  z-index: 1;
  border-radius: 0.5rem;
  opacity: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: -1rem;
  margin: -1rem;
}

/* background: linear-gradient(0deg, #0f171e 0,rgba(15,23,30,0) 50%); */
