.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.error-container {
  position: relative;
}

.error-ghost-large,
.error-ghost-small,
.error-message {
  transform: translate(-50%, -50%);
  position: absolute;
}

.error-ghost-large {
  top: 40%;
  left: 9%;
}

.error-ghost-small {
  top: 40%;
  left: 90%;
}

.error-message {
  color: #BC4749;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.35;
  left: 50%;
  top: 37%;
  width: 80%;
}

/*
.error-message-top,
.error-message-bottom {
  color: #BC4749;
  font-size: 36px;
  font-weight: bold;
  left: 50%;
} */

/* .error-message-top {
  top: 20%;
}

.error-message-bottom {
  line-height: 1.6;
  top: 36%;
  justify-content: flex-start;
} */
