.movie {
  align-items: center;
  background-color: #FBF7EF;
  border-radius: 1rem;
  box-shadow: 9px 9px 20px 2px #263238;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
  padding-top: 0.5rem;
  height: 430px;
  width: 255px;
}

.movie-poster {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 350px;
  width: 235px;
}

.movie-tomato {
  height: 30px;
  width: 30px;
}

.rating-container {
  width: inherit;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rating-text {
  font-size: 25px;
  font-weight: bolder;
  color: black;
}

a:link{
  text-decoration: none;
}
