.movie {
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 9px 9px 20px 2px #263238;
  cursor: pointer;
  margin: 1rem;
  min-height: 300px;
  width: 280px;
}

.movie-poster {
  height: 280px;
  width: 200px;
  object-fit: cover;
}

.movie-title {
  font-style: italic;
}

.rating-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movie-rating {

}

.movie-tomato {
  height: 40px;
  width: 40px;
}
