.topfive {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.topfive-container {
  background-color: #6A994E;
  flex-direction: column;
  display: flex;
  text-align: left;
  margin: 2rem 0;
  width: 90vw;
}

.topfive .movie {
  height: 250px;
}

.topfive .movie-poster {
  height: 210px;
  width: 140px;
}

.topfive .movie-tomato {
  height: 18px;
  width: 18px;
}

.topfive .rating-text {
  font-size: 16px;
}

.section-header {
  margin-left: 1rem;
}
