.header {
  align-items: center;
  background-color: #FBF7EF;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-company {
  align-items: center;
  display: flex;
  margin-left: 1rem;
}

.header-icon {
  height: 50px;
  width: 50px;
}

.navigation {
  align-items: flex-end;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
}

.navigation-input {
  display: flex;
}

.nav-link {
  text-decoration: underline !important;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
    flex-direction: column;
  }

  .header-company {
    /* margin: 0; */
    padding: 0 2rem;
    text-align: left;
    justify-content: center;
  }

  .navigation {
    align-items: center;
    justify-content: space-around;
    height: 60px;
    margin: 0;
  }
}
