@keyframes bob {
  0% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(6em);
  }
}

@keyframes ellipsis {
  to {
    width: 2rem;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 2rem;    
  }
}

.loading {
  font-size: 2.5rem;
  margin-top: 6rem;
  margin-bottom: 0rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1200ms infinite;      
  animation: ellipsis steps(4,end) 1200ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

.loading-container {
  height: 100%;
  width: 100%;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-wrapper {
  position: relative;
}

.tomato-splat {
  animation-name: bob;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

